header {
    background: none repeat scroll 0 0 #a6c9e2;
    color: #2e6e9e;
    font-size: 20px;
    padding: 5px 20px;
}

footer {
    background: none repeat scroll 0 0 #a6c9e2;
    color: #2e6e9e;
    font-size: 20px;
    padding: 5px 20px;
    margin: 20px 0;
}